{% extends "base_site.html" %} {% block title %} Dashboard {% endblock title %}
{% block stylesheets %} {{ super() }} {% endblock stylesheets %} {% block
content %} {% include "site_template/navigation.html" %} {% include
"site_template/top-stats.html" %}

<body onload="checkCookies()">
  <div class="container-fluid mt--7">
    <form>
      <input
        type="checkbox"
        id="myCheck"
        class="nav-item mr-2 mr-md-0"
        data-toggle="chart"
        data-target="#chart-sales"
        data-update='{"data":{"datasets":[{"data":[800, 10, 5, 750, 800, 820, 790, 800, 855]}]}}'
        data-prefix=""
        data-suffix=""
      />
    </form>

    <script>
      function checkCookies() {
        document.getElementById("myCheck").click();
      }
    </script>

    <!-- Card stats -->
    <div class="row">
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Current Date
                </h5>
                <span class="h2 font-weight-bold mb-0" id="dateDemo"></span>
                <script>
                  var today = new Date();
                  var dd = String(today.getDate()).padStart(2, "0");
                  var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
                  var yyyy = today.getFullYear();

                  today = mm + "/" + dd + "/" + yyyy;
                  document.getElementById("dateDemo").innerHTML = today;
                </script>
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-danger text-white rounded-circle shadow"
                >
                  <i class="fas fa-chart-bar"></i>
                </div>
              </div>
            </div>
            <p class="mt-3 mb-0 text-muted text-sm">
              Month/Day/Year
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  COVID-19 Cases
                </h5>
                <span class="h2 font-weight-bold mb-0">1</span>
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-warning text-white rounded-circle shadow"
                >
                  <i class="fas fa-chart-pie"></i>
                </div>
              </div>
            </div>
            <p class="mt-3 mb-0 text-muted text-sm">
              <span class="text-danger mr-2"
                ><i class="fas fa-arrow-down"></i> 50%</span
              >
              <span class="text-nowrap">Since last week</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                <span class="h2 font-weight-bold mb-0">924</span>
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-yellow text-white rounded-circle shadow"
                >
                  <i class="fas fa-users"></i>
                </div>
              </div>
            </div>
            <p class="mt-3 mb-0 text-muted text-sm">
              <span class="text-warning mr-2"
                ><i class="fas fa-arrow-down"></i> 1.10%</span
              >
              <span class="text-nowrap">Since yesterday</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Performance
                </h5>
                <span class="h2 font-weight-bold mb-0">49,65%</span>
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-info text-white rounded-circle shadow"
                >
                  <i class="fas fa-percent"></i>
                </div>
              </div>
            </div>
            <p class="mt-3 mb-0 text-muted text-sm">
              <span class="text-success mr-2"
                ><i class="fas fa-arrow-up"></i> 12%</span
              >
              <span class="text-nowrap">Since last month</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <br /><br />
    <div class="row">
      <div class="col-xl-8 mb-5 mb-xl-0">
        <div class="card bg-gradient-default shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
                <h2 class="text-white mb-0">
                  # Of People That Entered The School
                </h2>
              </div>
              <div class="col">
                <ul class="nav nav-pills justify-content-end">
                  <li
                    class="nav-item mr-2 mr-md-0"
                    data-toggle="chart"
                    data-target="#chart-sales"
                    data-update='{"data":{"datasets":[{"data":[800, 10, 5, 750, 800, 820, 790, 800, 855]}]}}'
                    data-prefix=""
                    data-suffix=""
                  >
                    <a
                      href="#"
                      class="nav-link py-2 px-3 active"
                      data-toggle="tab"
                    >
                      <span class="d-none d-md-block">View</span>
                      <span class="d-md-none">V</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <div class="chart">
              <!-- Chart wrapper -->
              <canvas id="chart-sales" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                <h2 class="mb-0">Your Web Traffic</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <div class="chart">
              <canvas id="chart-orders" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "site_template/footer.html" %}
  </div>
</body>
{% endblock content %} {% block javascripts %} {{ super()}} {% endblock
javascripts %}
