<!-- Footer -->
<footer class="py-5">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          Don't complain, Don't whine, Cause we keeping everyone in the school
          fine.
        </div>
      </div>
      <div class="col-xl-6">
        <ul
          class="nav nav-footer justify-content-center justify-content-xl-end"
        >
          <li class="nav-item">
            &copy; Coded by Mihir, Rohit, Agnes and Suraj
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
